body{
    background-color: #ffffff;
    color:rgb(20, 194, 247);
}

h1{
    color:rgb(182, 245, 9);
    margin-bottom: 4em;
    
  }
label{
    padding-right: 20px;
}

.party-popper{
    width: 250px;
    height: 250px;
}


.fade{
    animation-name: fade-in;
    animation-duration: 2s;
}

.age-stat{
    opacity: 100;
}

@keyframes fade-in{
   from{ opacity: 0}
   to { opacity: 100}
}

#space{
    margin-bottom: 50px;
}

.red{
    color: rgb(240, 11, 91);
}